In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataset = pd.read_csv("car data.csv")

In [3]:
dataset

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [4]:
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [5]:
x

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual
...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual

In [6]:
y

0      0
1      0
2      0
3      0
4      0
      ..
296    0
297    0
298    0
299    0
300    0
Name: Owner, Length: 301, dtype: int64

In [7]:
dataset.isnull().values.any()

False

In [8]:
dataset.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [9]:
# dealing with missing data

from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(missing_values = np.nan , strategy ='most_frequent')

# you can replace numerical value by mean, median
# and categorial data can be replaced by mode

imputer = imputer.fit(x.iloc[: , 1:])
x.iloc[:,1:] = imputer.transform(x.iloc[: ,1:])

In [10]:
x

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual
...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual

In [11]:
# therefore in the above table the missing value has been filled with most_frequent of the respective column data.

In [12]:
# dealing with label encoding and onehote

from sklearn.preprocessing import LabelEncoder , OneHotEncoder
l = LabelEncoder()
x.iloc[: , 0] = l.fit_transform(x.iloc[: , 0])

In [13]:
x

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,90,2014,3.35,5.59,27000,Petrol,Dealer,Manual
1,93,2013,4.75,9.54,43000,Diesel,Dealer,Manual
2,68,2017,7.25,9.85,6900,Petrol,Dealer,Manual
3,96,2011,2.85,4.15,5200,Petrol,Dealer,Manual
4,92,2014,4.60,6.87,42450,Diesel,Dealer,Manual
...,...,...,...,...,...,...,...,...
296,69,2016,9.50,11.60,33988,Diesel,Dealer,Manual
297,66,2015,4.00,5.90,60000,Petrol,Dealer,Manual
298,69,2009,3.35,11.00,87934,Petrol,Dealer,Manual
299,69,2017,11.50,12.50,9000,Diesel,Dealer,Manual
300,66,2016,5.30,5.90,5464,Petrol,Dealer,Manual

In [14]:
onehotencoder= OneHotEncoder()
data = x.iloc[: ,0]

In [15]:
data

0      90
1      93
2      68
3      96
4      92
       ..
296    69
297    66
298    69
299    69
300    66
Name: Car_Name, Length: 301, dtype: int32

In [16]:
data = data.to_numpy()
data.shape

(301,)

In [17]:
data = data.reshape(-1,1)
data

array([[90],
       [93],
       [68],
       [96],
       [92],
       [95],
       [68],
       [91],
       [68],
       [68],
       [62],
       [68],
       [68],
       [76],
       [73],
       [76],
       [76],
       [76],
       [96],
       [93],
       [63],
       [85],
       [93],
       [63],
       [96],
       [92],
       [92],
       [92],
       [63],
       [68],
       [90],
       [90],
       [92],
       [76],
       [73],
       [93],
       [73],
       [ 0],
       [63],
       [93],
       [65],
       [63],
       [93],
       [73],
       [89],
       [68],
       [90],
       [96],
       [76],
       [68],
       [81],
       [81],
       [86],
       [81],
       [86],
       [71],
       [77],
       [71],
       [78],
       [81],
       [71],
       [77],
       [81],
       [81],
       [81],
       [80],
       [86],
       [81],
       [71],
       [71],
       [80],
       [71],
       [71],
       [80],
       [77],
       [78],
       [71],
       [70],
       [71],
       [81],
       [71],
       [79],
       [86],
       [86],
       [86],
       [67],
       [88],
       [71],
       [80],
       [78],
       [71],
       [86],
       [86],
       [81],
       [71],
       [71],
       [86],
       [71],
       [71],
       [81],
       [49],
       [56],
       [42],
       [11],
       [46],
       [43],
       [40],
       [48],
       [48],
       [46],
       [42],
       [48],
       [41],
       [44],
       [46],
       [46],
       [46],
       [49],
       [46],
       [49],
       [17],
       [48],
       [45],
       [46],
       [47],
       [47],
       [ 6],
       [ 4],
       [32],
       [60],
       [32],
       [58],
       [ 6],
       [ 6],
       [51],
       [14],
       [37],
       [20],
       [32],
       [ 7],
       [37],
       [ 5],
       [57],
       [57],
       [12],
       [51],
       [20],
       [60],
       [15],
       [15],
       [52],
       [26],
       [16],
       [16],
       [61],
       [31],
       [54],
       [60],
       [38],
       [31],
       [ 8],
       [52],
       [16],
       [ 7],
       [28],
       [ 1],
       [25],
       [51],
       [34],
       [28],
       [59],
       [25],
       [13],
       [ 2],
       [35],
       [22],
       [39],
       [30],
       [53],
       [39],
       [23],
       [27],
       [33],
       [ 9],
       [14],
       [50],
       [55],
       [36],
       [21],
       [29],
       [14],
       [10],
       [24],
       [19],
       [18],
       [ 3],
       [ 1],
       [36],
       [10],
       [33],
       [14],
       [84],
       [82],
       [83],
       [75],
       [82],
       [97],
       [82],
       [84],
       [82],
       [83],
       [74],
       [72],
       [84],
       [82],
       [94],
       [75],
       [75],
       [94],
       [94],
       [75],
       [84],
       [84],
       [94],
       [94],
       [83],
       [82],
       [83],
       [94],
       [84],
       [94],
       [94],
       [74],
       [82],
       [82],
       [94],
       [75],
       [72],
       [94],
       [75],
       [94],
       [97],
       [97],
       [84],
       [94],
       [94],
       [84],
       [94],
       [83],
       [84],
       [72],
       [69],
       [66],
       [69],
       [69],
       [66],
       [69],
       [69],
       [69],
       [64],
       [69],
       [66],
       [64],
       [87],
       [64],
       [87],
       [64],
       [69],
       [66],
       [69],
       [69],
       [69],
       [69],
       [87],
       [66],
       [69],
       [69],
       [69],
       [87],
       [69],
       [66],
       [69],
       [69],
       [69],
       [66],
       [87],
       [87],
       [64],
       [69],
       [69],
       [64],
       [66],
       [87],
       [69],
       [64],
       [69],
       [69],
       [66],
       [69],
       [69],
       [66]])

In [18]:
x1 = onehotencoder.fit_transform(data).toarray()

In [19]:
x1.shape

(301, 98)

In [20]:
OH_encoder = OneHotEncoder(sparse=False)
#handle_unknown='ignore' , sparse ='false'

In [21]:
x1=x['Car_Name'].to_numpy().reshape(-15,1)
x1

array([[90],
       [93],
       [68],
       [96],
       [92],
       [95],
       [68],
       [91],
       [68],
       [68],
       [62],
       [68],
       [68],
       [76],
       [73],
       [76],
       [76],
       [76],
       [96],
       [93],
       [63],
       [85],
       [93],
       [63],
       [96],
       [92],
       [92],
       [92],
       [63],
       [68],
       [90],
       [90],
       [92],
       [76],
       [73],
       [93],
       [73],
       [ 0],
       [63],
       [93],
       [65],
       [63],
       [93],
       [73],
       [89],
       [68],
       [90],
       [96],
       [76],
       [68],
       [81],
       [81],
       [86],
       [81],
       [86],
       [71],
       [77],
       [71],
       [78],
       [81],
       [71],
       [77],
       [81],
       [81],
       [81],
       [80],
       [86],
       [81],
       [71],
       [71],
       [80],
       [71],
       [71],
       [80],
       [77],
       [78],
       [71],
       [70],
       [71],
       [81],
       [71],
       [79],
       [86],
       [86],
       [86],
       [67],
       [88],
       [71],
       [80],
       [78],
       [71],
       [86],
       [86],
       [81],
       [71],
       [71],
       [86],
       [71],
       [71],
       [81],
       [49],
       [56],
       [42],
       [11],
       [46],
       [43],
       [40],
       [48],
       [48],
       [46],
       [42],
       [48],
       [41],
       [44],
       [46],
       [46],
       [46],
       [49],
       [46],
       [49],
       [17],
       [48],
       [45],
       [46],
       [47],
       [47],
       [ 6],
       [ 4],
       [32],
       [60],
       [32],
       [58],
       [ 6],
       [ 6],
       [51],
       [14],
       [37],
       [20],
       [32],
       [ 7],
       [37],
       [ 5],
       [57],
       [57],
       [12],
       [51],
       [20],
       [60],
       [15],
       [15],
       [52],
       [26],
       [16],
       [16],
       [61],
       [31],
       [54],
       [60],
       [38],
       [31],
       [ 8],
       [52],
       [16],
       [ 7],
       [28],
       [ 1],
       [25],
       [51],
       [34],
       [28],
       [59],
       [25],
       [13],
       [ 2],
       [35],
       [22],
       [39],
       [30],
       [53],
       [39],
       [23],
       [27],
       [33],
       [ 9],
       [14],
       [50],
       [55],
       [36],
       [21],
       [29],
       [14],
       [10],
       [24],
       [19],
       [18],
       [ 3],
       [ 1],
       [36],
       [10],
       [33],
       [14],
       [84],
       [82],
       [83],
       [75],
       [82],
       [97],
       [82],
       [84],
       [82],
       [83],
       [74],
       [72],
       [84],
       [82],
       [94],
       [75],
       [75],
       [94],
       [94],
       [75],
       [84],
       [84],
       [94],
       [94],
       [83],
       [82],
       [83],
       [94],
       [84],
       [94],
       [94],
       [74],
       [82],
       [82],
       [94],
       [75],
       [72],
       [94],
       [75],
       [94],
       [97],
       [97],
       [84],
       [94],
       [94],
       [84],
       [94],
       [83],
       [84],
       [72],
       [69],
       [66],
       [69],
       [69],
       [66],
       [69],
       [69],
       [69],
       [64],
       [69],
       [66],
       [64],
       [87],
       [64],
       [87],
       [64],
       [69],
       [66],
       [69],
       [69],
       [69],
       [69],
       [87],
       [66],
       [69],
       [69],
       [69],
       [87],
       [69],
       [66],
       [69],
       [69],
       [69],
       [66],
       [87],
       [87],
       [64],
       [69],
       [69],
       [64],
       [66],
       [87],
       [69],
       [64],
       [69],
       [69],
       [66],
       [69],
       [69],
       [66]])

In [22]:
OH_cols_train=pd.DataFrame(OH_encoder.fit_transform(x1))
# it will convert to dataframe

In [23]:
OH_cols_train

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
299,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
x=pd.concat([x,OH_cols_train], axis=1)
#it is concatenat their column

In [25]:
x

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,0,1,...,88,89,90,91,92,93,94,95,96,97
0,90,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,93,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,68,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,96,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,92,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,69,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297,66,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298,69,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
299,69,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
300,66,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
x.drop('Car_Name',axis=1,inplace=True)
x

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,0,1,2,...,88,89,90,91,92,93,94,95,96,97
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
299,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
300,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
x=x.rename(columns={0:"Chevrolet Chevelle Malibu",1:"Ford Torino",2:"Ford Mustang"})

In [28]:
x

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Chevrolet Chevelle Malibu,Ford Torino,Ford Mustang,...,88,89,90,91,92,93,94,95,96,97
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
299,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
300,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
#one more way to do it to convert one hotencoder

xnew=dataset.iloc[:,:-1]
ynew = dataset.iloc[: , :-1]

In [30]:
xnew = pd.get_dummies(xnew)

In [31]:
xnew

,Year,Selling_Price,Present_Price,Kms_Driven,Car_Name_800,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,Car_Name_Bajaj Avenger 150 street,...,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,2014,3.35,5.59,27000,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
1,2013,4.75,9.54,43000,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
2,2017,7.25,9.85,6900,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
3,2011,2.85,4.15,5200,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,1
4,2014,4.60,6.87,42450,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
297,2015,4.00,5.90,60000,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
298,2009,3.35,11.00,87934,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
299,2017,11.50,12.50,9000,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
300,2016,5.30,5.90,5464,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1

In [32]:
#dealing with duplicate data

In [33]:
xnew.duplicated() 
#we have add a duplicate row

0      False
1      False
2      False
3      False
4      False
       ...
296    False
297    False
298    False
299    False
300    False
Length: 301, dtype: bool

In [34]:
xnew.duplicated().sum()

2

In [35]:
#now remove duplicate values

In [36]:
xnew.drop_duplicates(inplace=True)
#keep=first,last,false
#first means phle vali rkho baki sari del krdo
#last me last rkho baki sb del
# false me sari first last sb

In [37]:
xnew

,Year,Selling_Price,Present_Price,Kms_Driven,Car_Name_800,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,Car_Name_Bajaj Avenger 150 street,...,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,2014,3.35,5.59,27000,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
1,2013,4.75,9.54,43000,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
2,2017,7.25,9.85,6900,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
3,2011,2.85,4.15,5200,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,1
4,2014,4.60,6.87,42450,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
297,2015,4.00,5.90,60000,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
298,2009,3.35,11.00,87934,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
299,2017,11.50,12.50,9000,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
300,2016,5.30,5.90,5464,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1